<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>

  <div class="jeep-list">
    <li>
      <% @jeeps.each do |jeep| %>
        <ol>
          <%= jeep.name %>|
          <%= jeep.year %>|
          <%= jeep.description %>
        </ol>
      <% end %>
    </li>
  </div>
</div>
